{:paths ["src"]
 :deps
 {org.clojure/clojurescript {:mvn/version "1.10.520"}}
 :aliases
 {:dev
  {:extra-deps
   {cljsjs/react {:mvn/version "16.8.3-0"}}}
  :tags
  {:extra-paths ["tags"]
   :extra-deps {cheshire {:mvn/version "5.8.1"}}}
  :tags/generate
  {:extra-paths ["tags"]
   :main-opts ["-m" "io.dominic.hyper.tags"]
   :extra-deps {cheshire {:mvn/version "5.8.1"}}}}}
